/* Contact.css */

#contacts-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centriranje sadržaja po visini */
  background-color: transparent; /* Svijetlo plava pozadina */
}


.parallax-wrapper {
  width: 100%;
  max-width: 100%; /* Možete prilagoditi ovu vrijednost */
  margin: 0 auto; /* Centrira wrapper unutar sekcije */
  text-align: center; /* Centrira tekst i ikone unutar wrappera */
 
}

.section .fixed p {
  font-size: 1.2rem;
  margin-bottom: 2rem; /* Daje prostor između citata i ikona */
  color: aliceblue;
  
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Razmak između ikona */
  

}

.image-link img {
  width: 50px; /* Početna veličina ikona */
  transition: transform 0.3s ease; /* Animacija za povećanje */
 background-color: transparent;
 
}

.image-link:hover img {
  transform: scale(1.2); /* Povećava ikonu za 20% na hover */
}

@media (max-width: 800px) {
  .parallax-wrapper {
    max-width: 600px; /* Manja maksimalna širina na malim ekranima */
  }

  .section .fixed p {
    font-size: 1rem; /* Manji font za male ekrane */
  }

  .image-container {
    flex-wrap: wrap; /* Omogućava zamotavanje ikona na malim ekranima */
  }

  .image-link img {
    width: 40px; /* Manja veličina ikona na malim ekranima */
  }
}