body {
    background-color: #000000;
    overflow: hidden;
    text-align:center;
     display: flex;
     align-items: center;
     justify-content: center; 
     max-width: 100vw;
     overflow-x: hidden;
     
   }
   
   body,
   html {
    height: 100%;
    width: 100%;
    margin:0 0 0 0 ;
   
  
  
  
  
   }
   #mainSVG {
      transform: scale(2.5); /* povećava SVG za 50% */
    max-height: 100vw;
    
    }
  
   
   svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
    margin-top: 5%;
    
    
   }
   
   .ell, #ai {
     fill: none;
   }
  .emir {
    color: aliceblue;
    position: relative;
    margin-top: 60%;
    width: 100%;
    transform: scale(1); /* povećava SVG za 50% */
  }
  @import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");
  
  .loading-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -10%;
    
      background: #ffffff00;
  }
  
  .loading_about {
      text-align: center;
      color: #fff;
      font-family: Barlow Condensed, Tahoma , Arial;
      margin-top: 1rem;
  }
  
  .lista_loading {
      position: relative;
      margin: -50;
      padding: -50;
      display: flex;
      justify-content: center;
      align-items: center;
  }
 .lista_loading .pocetni {
      list-style: none;
      color: #484848;
      font-size: 5em;
      letter-spacing: 15px;
      font-family: Barlow, sans-serif;
      animation: animate 1.4s linear infinite;
  }
  span {
    color: #9ed6f0;
  }
  
  /* Responsive styles */
  
  @media (max-width: 768px) {
      ul li {
          font-size: 3em;
      }
      .loading_about {
          font-size: 0.8rem;
      }
  }
  @keyframes animate
  {
      0%
      {
          color: #484848;
          text-shadow: none;
      }
       90%
      {
          color: #484848;
          text-shadow: none;
      }
      100%
      {
          color: #9ed6f0;
          text-shadow: 0 0 7px #fb8a8a , 0 0 50px #ff6c00;
      }
  }
  .zaslon_L:nth-child(1)
  {
      animation-delay: .2s;
  }
  .zaslon_O:nth-child(2)
  {
      animation-delay: .4s;
  }
  .zaslon_A:nth-child(3)
  {
      animation-delay: .6s;
  }
  .zaslon_D:nth-child(4)
  {
      animation-delay: .8s;
  }
  .zaslon_I:nth-child(5)
  {
      animation-delay: 1s;
  }
  .zaslon_N:nth-child(6)
  {
      animation-delay: 1.2s;
  }
  .zaslon_G:nth-child(7)
  {
      animation-delay: 1.4s;
  }