/* Osnovne postavke za navigaciju */
nav {
   /* Centriranje sadržaja horizontalno */
  position: fixed;
  top: 5%;
  right: 0; 
  left: 0;
  z-index: 3;
  background: transparent ;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase; 
  margin-right: 0;
}

a {

  
 background-color: transparent;
 
}





/* Spacing između elemenata */
.menu_links .link {
  margin-right: 20px;
}

/* EMIR u gornjem levom uglu i boja */
.emir {
  color: #ffffff;
 
}

/* AŠĆERIĆ u gornjem levom uglu i boja */
.asceric {
  color: #72bcf8;
}

/* Efekat svetlucanja za EMIR i AŠĆERIĆ na hover */
.website_name:hover .emir, .website_name:hover .asceric ,a:hover {
  text-shadow: 0 0 55px rgba(255, 255, 255, 0.4), 
               0 0 10px rgba(255, 255, 255, 0.4),
               0 0 15px rgba(255, 255, 255, 0.4);
}
/* Efekat svetlucanja za EMIR i AŠĆERIĆ na hover */
a:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 
               0 0 20px rgba(255, 255, 255, 0.8),
               0 0 25px rgba(255, 255, 255, 0.8);
}


.website_name{
  font-size: 30px;
  cursor: pointer;
  
  
}


/* Responsive stilovi */
@media only screen and (max-width: 768px) {
  nav {
    padding: 4%;
  }

  .website_name {
    font-size: 24px;
  }

  .menu_links .link {
    margin-right: 10px;
    font-size: 18px;
  }

  


}