/* Osnovne postavke za navigaciju */
nav {
  display: flex;
  justify-content: center; /* Centriranje sadržaja horizontalno */
  align-items: center; /* Centriranje sadržaja vertikalno */
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  color: #f6f6f6;
}

body  nav {
  background: transparent !important;
  color: #ffffff;
}

/* Osnovni stilovi za a tagove */
a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  transition: color 0.3s;
  padding-bottom: 2px;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  background-image: linear-gradient(transparent, transparent);
}

/* Na hover, a tagovi će primijeniti gradijentnu pozadinu */
a:hover {
  background-image: linear-gradient(to right, #72bcf8, #ffffff); 
 
}

/* EMIR u gornjem levom uglu i boja */
.emir {
  color: #ffffff;
}

/* AŠĆERIĆ u gornjem levom uglu i boja */
.asceric {
  color: #72bcf8;
}

/* Efekat svetlucanja za EMIR i AŠĆERIĆ na hover */
.website_name:hover .emir, .website_name:hover .asceric {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 
               0 0 10px rgba(255, 255, 255, 0.4),
               0 0 15px rgba(255, 255, 255, 0.4);
}
.website_name{
  font-size: 30px;
  cursor: pointer;
}

/* Animacija linije ispod a tagova na hover */
a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  visibility: visible;
  width: 100%;
}

/* Spacing između elemenata */
.menu_links .link {
  margin-right: 20px;
}

.menu_links .link:last-child {
  margin-right: 0;
}

/* Stil za burger menu */
.menu_icon {
 
  cursor: pointer;
  background-color: #ff0000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.menu_icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu_icon .navicon:before,
.menu_icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu_icon .navicon:before {
  top: 5px;
}

.menu_icon .navicon:after {
  top: -5px;
}

/* Responsive stilovi */
@media only screen and (max-width: 768px) {
  nav {
    padding: 4%;
  }

  .website_name {
    font-size: 24px;
  }

  .menu_links .link {
    margin-right: 10px;
    font-size: 18px;
  }

  .menu_links {
    position: absolute;
    top: 100%; /* Da se prikaže ispod navbara */
    left: 0; /* Poravnajte s lijevom stranom */
    width: 100%; /* Širina pokriva cijeli ekran */
    display: none;
   
  }

  .menu_icon {
    display: block;
  }

  .menu_icon.active + .menu_links {
    display: block;
  }
}
