
.localBodyStyle {
   
    display: grid;
    place-items: center;
  
   
    
  }
  
  .GlavniDio {
      
      background-color:transparent;
      height: 100%;
      font-family: 'Impact', sans-serif;
      color: white;
      padding: 20px;
      overflow: hidden;
      place-items: center;
  }
  .sekcija {
    display: flex;
    gap: 2rem;
    height: 20vw;
    width: 40vw;
    place-items: center;
    margin: auto; /* Centriranje */
    max-height: 80vh;
    max-width: 90vh;
  }
  
  
   .Naslov {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white; 
    text-align: left !important; 
    

  }
  /* U App.module.css */
.activeIndex {
  border-width: 2px;
  border-color:  rgba(211,38,38,0.6); /* Ili bilo koji drugi stil koji želite */
}

  
  
  
  
  .dugme {
  width: fit-content;
  background-color:transparent;
  color: white;
  border: 1px solid white;
  font-size: 0.7rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  max-width: 100px;
  }
  
   .tabs {
    list-style-type: none;
    position: relative;
    
  }
  
  
  
 
  
  .tab {
    display: none; /* Initially hide all tabs */
    padding: 1rem;
    border: 1px solid transparent;
    cursor: pointer;}

 li {
  padding: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
 }
   
  
  .tab.active {
    display: flex; /* Only display the active tab */
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
    visibility: visible;
  }
  
  .sadrzaj_teksta, .naslov_teksta, .dugme  {
    position: relative;
    z-index: 5;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;   
    transform: translateY(-100%); /* Početno stanje iznad vidljivog područja */
    animation: slideDownContent 0.9s ease-out forwards; /* Dodajemo novu animaciju */
   
  }
  .tab_image img {
    width: 100%;
    max-width: 500px; /* Adjust based on your preference */
    height: auto;
    border-radius: 5px;
  }

  .imageStyle {
    max-width: 100rem;
    max-height: 300rem;
    height: auto;
  
    border-radius: 4px;
    animation: slideInFromRight 0.9s ease-out forwards;

    
  }
  
  
   .naslov_teksta {
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 1rem; /* Ako vam je potreban specifičan font-size, koristite jednu vrijednost */
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 1rem ;
    margin-top: -13%;
    cursor: text; /* Ako želite da element reagira na klik, koristite cursor: pointer; */
    text-align: left !important; /* Poravnavanje teksta s lijeve strane */
    
  
  }
  
  
  
  .sadrzaj_teksta {
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    line-height: 2;
    color: rgba(246, 246, 246, 0.7);
    cursor: pointer;
  }
  
  
  
  .tab_image {
    position: absolute;
    right: 1rem;
    width: 300px;
    height: 200px;
    margin-right: -50%;
     /* Početno stanje nevidljivosti */
    /* Nema potrebe za transform: translateX(2rem); jer ćemo koristiti animaciju */
    overflow: hidden;
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%); /* Počinje desno izvan vidljivog područja */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* Završava na početnoj poziciji */
      opacity: 1;
    }
  }
  
  
  
  .tabImage {
    width: 100%;
    height: 90%;
    object-fit: cover;
    filter: grayscale(100%);
    animation: slideInFromRight 1s ease-out forwards; /* Dodajemo animaciju za sliku */
  }
  
  @keyframes slideDownContent {
    0% {
      transform: translateY(-100%); /* Počinje iznad vidljivog područja */
      opacity: 0;
    }
    40% {
      transform: translateY(-50%); /* Polovica puta kroz animaciju */
      opacity: 0; /* Drži opacity na 0 do polovice animacije */
    }
    100% {
      transform: translateY(0); /* Završava na početnoj poziciji */
      opacity: 1;
    }
  }
  
  