
.localBodyStyle {
   
  display: grid;
  place-items: center;
  
 
  
}

.GlavniDio {
    width: 100%;
    height: 100%;
    background-color:transparent;  
    font-family: 'Impact', sans-serif;
    color: white;
    padding: 20px;
    overflow: hidden;
    place-items: center;
    transform: scale(1.4);
    margin-top: 18%;
    
}
.sekcija {
  
  display: flex;
  gap: 2rem;
  height: 20vw;
  width: 40vw;
  place-items: center;
  margin: auto; /* Centriranje */
  max-height: 80vh;
  max-width: 90vh;
  transform: scale(1.15);

}


 .Naslov {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3%;
  margin-left: 13%;
  margin-top: -1% ;
  color: white; 
  text-align: left !important; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  

}
/* U App.module.css */
.activeIndex {
border-width: 2px;
border-color:  rgba(211,38,38,0.6); /* Ili bilo koji drugi stil koji želite */
}





.dugme {
width: fit-content;
background-color:transparent;
color: white;
border: 1px solid white;
font-size: 0.7rem;
padding: 0.75rem 1rem;
cursor: pointer;
max-width: 80px;
margin-top: 10%;
border-radius: 50%/40%;
align-items: center; /* Centrira sadržaj po vertikali */
overflow: hiden;
z-index:1;
}

.dugme:hover{
  background-color:white;
  color: black;
  transform: scale(1.08)!important;
}

 .tabs {
  list-style-type: none;
  position: relative;
  
}





.tab {
  display: none; /* Initially hide all tabs */
  padding: 1rem;
  border: 1px solid transparent;
  cursor: pointer;}

li {
padding: 1rem;
border: 1px solid transparent;
cursor: pointer;
}
 

.tab.active {
  display: flex; /* Only display the active tab */
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  visibility: visible;
}

.sadrzaj_teksta, .naslov_teksta, .dugme  {
  position: relative;
  z-index: 5;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;   
  transform: translateY(-100%); /* Početno stanje iznad vidljivog područja */
  animation: slideDownContent 0.9s ease-out forwards; /* Dodajemo novu animaciju */

 
}
.tab_image img {
  width: 100%;
  max-width: 500px; /* Adjust based on your preference */
  height: auto;
  border-radius: 5px;
}

.imageStyle {
  max-width: 100rem;
  max-height: 300rem;
  height: auto;
 
  border-radius: 5%;
  animation: slideInFromRight 0.9s ease-out forwards;

  
}


 .naslov_teksta {
 
  font-weight: 900;
  font-size: 1.3rem; /* Ako vam je potreban specifičan font-size, koristite jednu vrijednost */
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 1rem ;
  margin-top: 2%;
  cursor: text; /* Ako želite da element reagira na klik, koristite cursor: pointer; */
  text-align: left !important; /* Poravnavanje teksta s lijeve strane */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}



.sadrzaj_teksta {
  
  font-weight: 100;
  line-height: 2;
  color: rgba(246, 246, 246, 0.7);
  cursor: text;
  background-color:rgba(32, 107, 151, );
  border-radius: 10%/20%;
  margin-top: 5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}



.tab_image {
  position: absolute;
  
  width: 285px;
  height: 200px;
  margin-right: -119%;
   /* Početno stanje nevidljivosti */
  /* Nema potrebe za transform: translateX(2rem); jer ćemo koristiti animaciju */
  overflow: hidden;
  margin-top: 20%;
  opacity: 0.5;
  margin-left: 55% !important;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); /* Počinje desno izvan vidljivog područja */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Završava na početnoj poziciji */
    opacity: 1;
  }
}



.tabImage {
  width: 100%;
  height: 90%;
  object-fit: cover;
  filter: grayscale(100%);
  animation: slideInFromRight 1s ease-out forwards; /* Dodajemo animaciju za sliku */
}

@keyframes slideDownContent {
  0% {
    transform: translateY(-100%); /* Počinje iznad vidljivog područja */
    opacity: 0;
  }
  40% {
    transform: translateY(-50%); /* Polovica puta kroz animaciju */
    opacity: 0; /* Drži opacity na 0 do polovice animacije */
  }
  100% {
    transform: translateY(0); /* Završava na početnoj poziciji */
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .Naslov
  {
    font-size: 18px !important;
    margin-bottom: 8%!important;
    margin-top: 110px !important;
    margin-left: 6%!important;
    padding-bottom: 35px !important;
  }
  .naslov_teksta
  {
    font-size: 13px !important;
    margin-bottom: -5%!important;
    margin-top: 0%!important;
    margin-left: -109px !important;
   padding: 16 ;
    width: 150px !important;
    align-items: left; /* Centrira sadržaj po vertikali */
  }
  .sadrzaj_teksta{
    font-size: 11px !important;
    width: 150px !important;
    margin-left: -109px !important;
    align-items: left!important; /* Centrira sadržaj po vertikali */
  }   

  .listaProjectPage{
    font-size: 10px !important; /* Manja veličina fonta za podnaslov */
     margin-left: -45px;
     margin-right: 75px;
    padding: 9px!important;
    
  }

  .imageStyle {
    margin-top: 28% !important;
    width: 40% !important;
    height: 40% !important;
   
  }
  
  .tab_image {
    position: absolute;
   
    width: 220px;
    height: 150px;
    margin-right: -160px !important;
     /* Početno stanje nevidljivosti */
    /* Nema potrebe za transform: translateX(2rem); jer ćemo koristiti animaciju */
    overflow: hidden;
    margin-top: -25%;
    opacity: 0.5;
    display: none;
    }
  
  .dugme {
    
    display: inline-flex; /* Omogućava fleksibilno raspoređivanje sadržaja */
    align-items: center; /* Centrira sadržaj po vertikali */
    padding: 0.5rem 0.5rem !important; /* Postavlja unutrašnji razmak */
    font-size: 7px; /* Veličina teksta unutar dugmeta */
    width: 35px;
    height: 25px;
    margin-left: -169px !important;
    border-radius: 50%/40%;
  
    
   
   
  }

  }