.gallery {
  
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Pravi pet kolona jednake širine */
  gap: 10px; /* Razmak između boxova */
  max-width: 960px; /* Maksimalna širina galerije */
  margin: 0 auto; /* Centrira galeriju horizontalno */
}

.imgBox {
  
  height: 200px; /* Visina boxa */
  display: flex;
  justify-content: center; /* Horizontano centriranje */
  align-items: center; /* Vertikalno centriranje */
  overflow: visible; /* Omogućava izlazak sadržaja iz boxa */
}

.image {
  max-width: 100%; /* Slika neće biti šira od boxa */
  max-height: 100%; /* Slika neće biti viša od boxa */
  transition: transform 0.5s ease; /* Animacija za transformaciju */
  transform-origin: center; /* Postavlja tačku oko koje se vrši rotacija u centar slike */
}

.imgBox:hover .image {
  transform: rotate(360deg) scale(1.2); /* Rotira sliku za 360 stepeni i uvećava je za 20% */
}

#Tech-section{
  margin-top:10%;
}