/* U vašem App.css */
.section {
  min-height: 100vh; /* Svaka sekcija zauzima punu visinu viewport-a */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Dodajte dodatne stilove za prilagodbu */
